<table class="profile" summary="Profile information" border = "1"> 
  <tr>
    <td> Name: <%= @species.name %> </td>
    <td> Sex: <%= @species.sex %> </td>
  </tr>
  
  <tr>
    <td> Abundance: <%= @species.abundance %> </td>
    <td> Location: <%= @species.location %> </td>
  </tr> 

  <tr>
    <td> County: <%= @species.county %> </td>
    <td> Grid reference: <%= @species.grid_reference %> </td>
  </tr>
 
 <tr>
    <td> Provenance: <%= @species.provenance %> </td>
    <td> Start date: <%= @species.start_date %> </td>
  </tr>
 
 <tr>
    <td> End date: <%= @species.end_date %> </td>
    <td> Observer: <%= @species.observer %> </td>
  </tr>

 <tr>
    <td> Determiner: <%= @species.determiner %> </td>
    <td> Record type: <%= @species.record_type %> </td>
  </tr>

<tr>
    <td> Reference: <%= @species.reference %> </td>
    <td> Comment: <%= @species.comment %> </td>
  </tr> 

<tr>
    <td> Created at: <%= @species.created_at %> </td>
    <td> Updated at: <%= @species.updated_at %> </td>
  </tr>


</table>

