<header>
  <%= image_tag("logo.jpg", :alt => "SIBC", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Enquiry Service", '#' %></li>
      <li><%= link_to "Services and Support", '#' %></li>
      <li><%= link_to "Recording Tools", '#' %></li>
      <li><%= link_to "Submit your Sightings", '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
